    :root{
        --beige: rgb(142, 131, 116); 
    }
    body{
        background-color: var(--beige);
    }
    nav{
        position: sticky;
        top: 0;
        z-index: 1;
    }
    nav ul{
        list-style-type: none;
        font-family:fantasy;
        font-size: larger;
        
    }
    /* .container{
        height: 100vh;
    } */
    a{
        text-decoration: none;
        color: var(--beige);
    }

    h1{
        font-family: 'Fraunces', serif;
        font-size: 60px;
        font-weight: bolder;   
    /* the text background */
    background: url(https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-129599.jpg?w=996&t=st=1687435813~exp=1687436413~hmac=a3f02f9b332791ae3d0af7feb9d9c52d7ab17d58c8f6c9e3a42ee9917165254f);
    background-size: 100vw auto;
    background-position: center;
    /* clip the text is possible */
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* fallback text color */
    color: black
    }
    .btn {
        width: 6.5em;
        height: 2.3em;
        margin: 0.5em;
        background: black;
        color: white;
        border: none;
        border-radius: 0.625em;
        font-size: 20px;
        font-weight: bold;
            cursor: pointer;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }
        
        button:hover {
            color: black;
        }
        
        button:after {
            content: "";
            background: white;
            position: absolute;
            z-index: -1;
            left: -20%;
            right: -20%;
            top: 0;
            bottom: 0;
            transform: skewX(-45deg) scale(0, 1);
            transition: all 0.5s;
        }
        
        button:hover:after {
            transform: skewX(-45deg) scale(1, 1);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }

        @media screen and (max-width: 500px) {
            .piccolo{
                display: block !important;
            }
            .card{
                margin: 0 !important;
                margin-bottom: 15px !important;
    }
}


